@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* Limpieza de estilos por defecto de Vite */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}